 *{
    /* outline: 2px dotted darkred; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(248, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mob-table{
    max-width: 1200px;
    padding: 20px 25px;
    background-color: aliceblue;
    margin: 30px 0;
    border-radius: 3px;
    box-shadow:0 1px 1px rgb(29, 28, 28);
}

.headers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(215, 242, 242);
    color: rgb(5, 5, 5);
    padding: 16px 30px;
    
}
.add{
    background-color: rgb(93, 206, 93);
    color: white;
}

th{
    text-align: center;
    color: gray;
}

.btn{
    padding: 3px 20px;
    min-width: 90px;
}

.btn-primary{
    color: white;
    background-color: rgb(69, 69, 213);
}

