*{
    /* outline: 2px dotted darkred; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(248, 247, 247);
    justify-content: center;
    height: 100vh;
}

.user-table{
    max-width: 1200px;
    padding: 20px 25px;
    background-color: aliceblue;
    margin: 30px 0;
    border-radius: 3px;
    box-shadow:0 1px 1px rgb(139, 129, 129);
}

.headers{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(215, 242, 242);
    color: rgb(5, 5, 5);
    padding: 16px 30px;
    
}

.table-row-1{
    background-color: rgb(238, 247, 245);
    margin-left: 70px;
    padding: 10px;
    display: flex;
    max-width: 900px;
    justify-content: space-evenly;
    text-align: center;
}

.table-row{
    background-color: rgb(238, 247, 245);
    margin-left: 70px;
    padding: 10px;
    display: flex;
    max-width: 1200px;
    justify-content: space-evenly;
    text-align: center;
}



